{% extends 'layout.html' %}
{% block title %}About Author {% endblock %}
{% block bodyClass %}about-author{% endblock %}

{% block header %}<h3>About Author</h3>{% endblock %}

{% block content %}
    <h3 class="display-5">About Author</h3>
    <hr class="my-4">

    <p>I am Marko from Belgrade, Serbia. At the moment I am doing research for my PhD Intelligent System program. Project is about Expert System who recognise three primary types of headaches <i>(migraine, tension, cluster)</i>.
        If you want to see more about this or my other projects you can visit my portfolio website <a target="_blank" href="http://markostalma.ninja/">markostalma.ninja</a>.
    </p>
{% endblock %}