{% extends 'layout.html' %}
{% block title %}About Project {% endblock %}
{% block bodyClass %}about-project{% endblock %}

{% block header %}<h3>About Project</h3>{% endblock %}

{% block content %}
    <div class="row">
        <h3 class="term-heading">About Project</h3>
    </div>
    <div class="card">
        <div class="card-header">
            <span class="term-subheading"><b>1. </b>About Questionnaire</span>
        </div>
        <div class="card-body">
            <p class="card-text">This Questionnaire will help doctors to get more accurate diagnosis on easier, more precisely and faster way, and recognise the primary type of headache the patient has. </p>
        </div>
    </div>
    </br>
    <div class="card">
        <div class="card-header">
            <span class="term-subheading"><b>2. </b>About Expert System</span>
        </div>
        <div class="card-body">
            <p class="card-text">Expert System use Fuzzy logic solutions on data to discern patterns from their data and implement that patterns in Expert System for more precisely medical diagnosis. </p>
        </div>
    </div>
    </br>
    <div class="card">
        <div class="card-header">
            <span class="term-subheading"><b>3. </b>About solution</span>
        </div>
        <div class="card-body">
            <p class="card-text">This solution use modern machine learning technique, fuzzy logic and methodologies. Program language which was used is Python.</p>
        </div>
    </div>
    </br>
{% endblock %}