{% extends 'layout.html' %}

    {% block header %}
        <h3>Terms and Condition</h3>
    {% endblock %}

    {% block content %}
        <h3>1. Privacy Policy</h3>
        <h5>1.1. What we collect, how and why</h5>
        <p>We collect information for our research. The subject is diagnosis of primary types of headaches. Information was collected by questionnaire and we use them until research is over. </p>
        <h5>1.2. How secure is the data in our possession</h5>
        <p>We will never share or sell your data with any third parties The dataset will be used only for our research.</p>
        <h5>1.3. EU General Data Protection Regulation (GDPR) </h5>
        <p>We only use birth date, IP address, Geolocation and some personal medical information from respondent. Every respondent are able to read and download their data in PDF format before submit answers.</p>
        <br>
        <h3>2. Copyright</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatibus hic modi atque inventore rerum et. Consequatur necessitatibus aut dolore qui, reprehenderit mollitia dolorum deserunt voluptate commodi praesentium est eius?</p>
        <br>
        <h3>3. Contact</h3>
        <p>If you have any questions or you want to delete your information from questionnaire be free to contact our Data Protection Officer (DPO) on dpo@questionnaire.edu.rs </p>
    {% endblock %}